<!DOCTYPE html>
<html>
  <head>
    <title>MealApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <% if Rails.env.production? %>
    <%= stylesheet_link_tag    'sp/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sp/application', 'data-turbolinks-track': 'reload' %>
  <% else %>
    <%= stylesheet_link_tag    'sp/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sp/application', 'data-turbolinks-track': 'reload' %>
  <% end %>
  </head>
  <script>$("#tinderslide").jTinder();</script>

  <body>
    <%= yield %>
  </body>
</html>
